@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSubmit").click(function () {
                
                var _OldPassword = document.getElementById("OldPassword").value;
                var _NewPassword = document.getElementById("NewPassword").value;
                var _ConfirmPassword = document.getElementById("NewConfirmPassword").value;

                $("#changepasswordform").attr("action", "#");
                $.ajax({
                    type: 'POST',
                    url: '/Account/ChangePasswordMethod',
                    data: JSON.stringify({ OldPassword: _OldPassword, NewPassword: _NewPassword, ConfirmPassword: _ConfirmPassword }),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result == "success") {
                            var e = $('<div id="message" class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Password Changed Sucessfully.</div>');
                            $('#message').append(e);
                        }
                        else {
                            var e = $('<div id="message" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + result + '</div>');
                            $('#message').append(e);
                            return false;
                        }
                    },
                    error: function () {
                        var e = $('<div id="message" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Please enter correct old password.</div>');
                        $('#message').append(e);
                        return false;
                    }
                });
                
            });
        });
    </script>
}
<section>
    <div class="container">
        <div class="row margin-top50">
            <div class="col-md-4 col-md-4 ">

            </div>

            <!-- LOGIN -->
            <div class="col-md-4 col-md-4 ">
                <div id="message" class="row">
                </div>
                <!-- login form -->
                <div class="sky-form boxed">
                    <header class="text-danger text-center bold">
                        <span>
                            <span class="icon">
                                <i class="fa fa-user"></i>&nbsp; Change Password
                            </span>
                        </span>
                    </header>
                    <form id="changepasswordform">
                        <fieldset>
                            <section>
                                @Html.LabelForTextRequired("Old Password")
                                <label class="input">
                                    @*<i class="icon-prepend fa fa-lock"></i>*@
                                    <input id="OldPassword" required type="password" placeholder="Old Password ">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your old password</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelForTextRequired("New Password")
                                <label class="input">
                                    @*<i class="icon-prepend fa fa-lock"></i>*@
                                    <input id="NewPassword" required type="password" placeholder="New Password ">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your new password</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelForTextRequired("Confirm Password")
                                <label class="input">
                                    @*<i class="icon-prepend fa fa-lock"></i>*@
                                    <input id="NewConfirmPassword" required type="password" placeholder="Confirm Password ">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your Confirm password</b>
                                </label>
                            </section>
                        </fieldset>

                        <footer class="text-right">
                            <button id="btnSubmit" type="submit" class="bigButton">Change Password</button>
                        </footer>
                    </form>
                </div>
                <!-- /login form -->
            </div>
            <!-- /LOGIN -->
            <div class="col-md-4 col-md-4 ">
            </div>
        </div>
    </div>
</section>

