
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSubmit").click(function () {
                var email = document.getElementById("email").value;
                if (email != "") {
                    $("#forgetpasswordform").attr("action", "#");
                    $.ajax({
                        type: 'POST',
                        url: '/Account/ForgotPasswordMethod',
                        data: JSON.stringify({ Email: email }),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result == "success") {
                                //window.location.href = '@Url.Action("WelcomeHome", "Home")';
                                var e = $('<div id="message" class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Password send to your email. Please check your email</div>');
                                $('#message').append(e);
                            }
                            else {
                                //$("#btnSecond").click();
                                var e = $('<div id="message" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>User doesnot exist or Invalid Email Id.</div>');
                                $('#message').append(e);
                                return false;
                            }
                        },
                        error: function () {
                            //$("#btnSecond").click();
                            var e = $('<div id="message" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>User doesnot exist or Invalid Email Id.</div>');
                            $('#message').append(e);
                            return false;
                        }
                    });
                }
                else {
                    $("#forgetpasswordform").attr("action", "#");
                }
            });
        });
    </script>
}
<section>
    <div class="container">
        <div class="row margin-top100 sign_up_bg">
            <div class="col-md-4 col-md-4 ">

            </div>

            <!-- LOGIN -->
            <div class="col-md-4 col-md-4 log_in">
                <div id="message" class="row">
                </div>
                <!-- login form -->
                <div class="sky-form boxed">
                    <fieldset class="text-center">
                        <!-- Logo -->
                        <a class="logo" href="#">
                            <img src="~/assets/images/logo.png" height="40" alt="Logo" title="Ameba" />
                        </a>
                    </fieldset>
                    <h4>Forgot Password</h4>
                    <form id="forgetpasswordform">
                        <fieldset>
                            <section>
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input id="email" required type="text" placeholder="User Name ">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                </label>
                            </section>

                        </fieldset>

                        <footer class="text-right">
                            <button id="btnSubmit" type="submit" class="button new_btn">Submit</button>
                        </footer>
                    </form>
                </div>
                <!-- /login form -->
                <div class="text-center">
                    <i class="fa fa-home fa-lg icon_color">&nbsp;@Html.ActionLink("Home", "Index", "Home") </i>
                    |
                    <i class="fa fa-user fa-lg icon_color">&nbsp;@Html.ActionLink("Login", "LogOn", "Account")</i>
                </div>

            </div>
            <!-- /LOGIN -->
            <div class="col-md-4 col-md-4 ">
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" id="btnSecond" aria-hidden="true" style="opacity: 0;">Small Modal</button>
            <div id="Mymodel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- modal header -->
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Error</h4>
                        </div><!-- /modal header -->
                        <!-- modal body -->
                        <div class="modal-body">
                            User doesnot exist or Invalid Email Id.
                        </div>
                        <!-- /modal body -->

                        <div class="modal-footer">
                            <!-- modal footer -->
                            <button class="bigButton" data-dismiss="modal">OK</button>
                        </div><!-- /modal footer -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

