@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1 class="text-center">Access Denied</h1>

<h2>Sorry!! You not authorized to access this service. </h2>

