@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1 class="text-center">Success</h1>

@{Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = TempData["MessageBody"] });}

