<!-- CONTACT US -->
<section>
    <div class="container">
        <header class="text-center">
            <h1>CONTACT US</h1>
            <p class="lead">THE ONLY WAY TO DO GREAT WORK IS TO LOVE WHAT YOU DO.</p>
            <div class="divider half-margins onepage center"><!-- lines divider --></div>
        </header>
    </div>
</section>
<!--
    OWL SLIDER

    Note: 'cover' class = if background image used!
    Nice backgrounds:
        assets/images/demo/layerslider/slide-b-bg.jpg
        assets/images/demo/layerslider/bg4.jpg
        assets/images/demo/layerslider/slide-b-1.png
-->
<div class="slider cover padding30" style="background-image: url('/assets/images/Ameba/ChooseUs/chooseUsBg.jpg')">
    <div class="container">
        <!-- add class "controlls-over" if you need the button controlls over the image -->
        <div id="socialHome" class="owl-carousel controlls-over controls-hover-only" data-plugin-options='{"stopOnHover":true, "slideSpeed":1500, "autoPlay":3000, "items": 1, "autoHeight": false, "navigation": true, "pagination": false, "transitionStyle":"goDown"}'>
            <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div class="text-center">
                <div class="text-center">
                    <img class="socialCircleTrans" src="~/assets/images/Ameba/ContactUs/largeFacebookCircle.png">
                </div>
                <div class="text-center">
                    <h2>LIKE US ON FACEBOOK</h2>
                    <h4>Don't worry, we don't poke</h4>
                    <a class="bigButton" target="_blank" href="https://www.facebook.com/amebasoftwares">LIKE</a>
                </div>
            </div>
            <div class="text-center">
                <div class="text-center">
                    <img class="socialCircleTrans" src="~/assets/images/Ameba/ContactUs/largeTwitterCirlce.png">
                </div>
                <div class="text-center col-xs-12 col-sm-12">
                    <h2>FOLLOW US ON TWITTER</h2>
                    <h4>We love our 3,000+ followers</h4>
                    <a class="bigButton" target="_blank" href="https://twitter.com/amebasoftpvtltd">FOLLOW</a>
                </div>
            </div>
            <div class="text-center">
                <div class="text-center">
                    <img class="socialCircleTrans" src="~/assets/images/Ameba/ContactUs/largeGooglePlusCircle.png">
                </div>
                <div class="text-center col-xs-12 col-sm-12">
                    <h2>CIRCLE US ON GOOGLE+</h2>
                    <h4>You can be our +1</h4>
                    <a class="bigButton" target="_blank" href="https://plus.google.com/114436126947594516372/about?hl=en&authuser=0&socpid=247&socfid=maps_embed:placecard">PLUS</a>
                </div>
            </div>
            <div class="text-center">
                <div class="text-center">
                    <img class="socialCircleTrans" src="~/assets/images/Ameba/ContactUs/largeLinkedInCircle.png">
                </div>
                <div class="text-center col-xs-12 col-sm-12">
                    <h2>CONNECT ON LINKED IN</h2>
                    <h4>We can grow together</h4>
                    <a class="bigButton" target="_blank" href="https://www.linkedin.com/company/ameba-softwares-pvt-ltd">CONNECT</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /OWL SLIDER -->
