@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <header class="text-center">
            <h1>ABOUT US</h1>
            @*<p class="lead">Ameba can help you grow your business's online recognition.</p>*@
            <div class="divider half-margins onepage center"><!-- lines divider --></div>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-7">
                <p>Founded in May 2006, Ameba Softwares designs and delivers technology-enabled business solutions for the Global clients. We are a fast growing Software Development Company and provide services in the areas of Software Development, Web Application Development, Web-based Enterprise Solutions and Internet Marketing solutions. We combine our technical expertise, proven methodologies, profound knowledge of latest industry trends and quality-driven delivery model to offer progressive end-to-end web solutions to our clients. We at Ameba, have knowledge from our experience of completing hundreds of projects which enables us to deliver the right solutions that addresses the needs of our clients. Our team is highly dedicated, experience and always ready to take up any challenges.</p> 
                <p>We follow best Technologies to do work in PHP frame work, CakePHP, Smarty, CMS Development like Word Press 1.1 to 3.5, Joomla 1.0 to 3.5, Magento Ext, BigCommerce, Oscommerce, Prestashop, X-cart, Drupal, Zen cart with other open cart CMS. We also work on customized modules and script based on Jason and XML parsing. Our major expertise includes Microsoft ASP. Net Framework 2.0, 3.0, 3.5 ASP.NET (with C# and VB.NET), Silver light, AJAX, Java Script Development XML, XHTML / CSSDNN (DotNetNuke).</p>
                <p>We also work in iPhone, iPad, iOS, Android, PHP, HTML5, .NET, svn, git, jquery, soap, xml-rpc, rest, json-rpc, JSONP, application architecture, quality assurance, Business Objects, Multi-Threading, SOA, AJAX, GUI, SharePoint, XML, User Interface, HTML, CSS, Visual Studio, XSLT, MVC, WCF, WPF, Win Forms, Web Forms, C/C++,iOS, Objective C, Cocoa Touch, Xcode, Android, UNIX, Linux, Eclipse, MySQL, LAMP and Responsive Web Development.</p>
                <p>We have a team of Web developer with a variety of experience spanning both front- and back-end, working for small non-profits and large corporations.</p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-5">
                <img style="max-width:100%;" src="/assets/images/Ameba/about-us.jpg">
            </div>
        </div>
    </div>
</section>
        
