@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
}


<div class="row">
    <div class="container">
        <div class="services_bg">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="services_box">
                        <div class="services_icon">
                            <img src="~/assets/images/services-img.png" alt="" title="" />
                        </div>
                        <h5>Reliable</h5>
                        <p>
                            Request your Curb ride in seconds and watch your trained driver arrive in minute.s. Curb drivers are always available and ready to
                            pick you up.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



<div class="about_us">
    <div class="container">
        <h4>About Us</h4>
        <div class="col-md-12 col-sm-12">
            <div class="col-md-4 col-sm-4">
                <div class="about_img">
                    <img src="~/assets/images/abput-img.png" alt="" title="" />
                </div>

            </div>
            <div class="col-md-8 col-sm-8">
                <div class="about_text">
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model textIt is a long established<br />
                        fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
                        Read More
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="container">
        <div class="download_section">
            <h3>Download Our App</h3>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-5 col-sm-5">
                    <div class="phn_img">
                        <img src="~/assets/images/phn-img.png" alt="" title="" />
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="download_content">
                        <h4>Book your taxi in just a few second!</h4>
                        <span>It is a long established fact that a reader will be distracted by the readable content</span>
                        <h6>Taxi app key features:</h6>

                    </div>
                    <div class="feature_bg">
                        <div class="feature_icon">
                            <h6>01</h6>

                        </div>
                        <span>Easy taxi booking // lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>


                    </div>
                    <div class="feature_bg">
                        <div class="feature_icon">
                            <h6>02</h6>

                        </div>
                        <span>Easy taxi booking // lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>


                    </div>
                    <div class="feature_bg">
                        <div class="feature_icon">
                            <h6>03</h6>

                        </div>
                        <span>Easy taxi booking // lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>


                    </div>
                    <div class="play_store">
                        <a href="#"><img src="~/assets/images/google-play.png" alt="" title="" /></a>
                        <a href="#"><img src="~/assets/images/apple.png" alt="" title="" /></a>

                    </div>



                </div>

            </div>

        </div>
    </div>

</div>