@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <header class="text-center">
            <h1>News</h1>
            @*<p class="lead">Ameba can help you grow your business's online recognition.</p>*@
            <div class="divider half-margins onepage center"><!-- lines divider --></div>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-9">
                <h4>
                    <em><span><strong>Vuevent launches iOS app version of event discovery platform released on Feb 09, 2015 (Developed by Ameba Softwares)</strong></span></em>
                </h4>
                <p class=" " style="height: auto;">
                    Vuevent breaks down the walls of the traditional event discovery process by allowing you to find and virtually experience what is going on around you, in real time. <br><br>Vuevent allows you to connect with local businesses and community members through a personally tailored feed of events, activities, moments and recommendations. <br><br>For each suggested event, interest tags reflect related categories of events, from nightlife and dancing to science and art. For each event, you can view a detailed description, including date, time and location. If you would like to attend a specific event, add the event to your personal calendar, or favorite the event for future reference and to continue to personalize your recommendation feed.<br><br>*** Stay tuned for lots and lots of cool updates and new features :) ***
                    <a href="https://itunes.apple.com/us/app/vuevent/id958821205?mt=8" class="" target="_blank"><i class="li li-action-redo red"></i><span>Download</span></a>
                </p>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3">
                <img style="max-width:80%;" src="/assets/images/Ameba/news/vuevent-inner.png">
            </div>
        </div>
    </div>
</section>


