<!-- CHOOSE US -->
<div id="chooseUsHome" class="row row-wide">
    <h2>WHY CHOOSE US</h2>

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="bulletSummary">
                <div class="w100"><span><img class="smallCircle" src="/assets/images/Ameba/ChooseUs/lightBulbCircleSM.png"></span><span class="homeTextSpan size15">Collaborative Solutions</span></div>
                <p>We ensure reduced marketing costs, high visitor conversions, and quick return on investments.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="bulletSummary">
                <div class="w100"><span><img class="smallCircle" src="/assets/images/Ameba/ChooseUs/retinaReadyCircle.png"></span><span class="homeTextSpan size15">Dedicated Focus</span></div>
                <p>We measure our marketing strategies success based of your clearly defined goals and objectives.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="bulletSummary">
                <div class="w100"><span><img class="smallCircle" src="/assets/images/Ameba/ChooseUs/responsiveCircle.png"></span><span class="homeTextSpan size15">Customer Growth</span></div>
                <p>We align our efforts to execute a customized solution in order to propel your business growth.</p>
            </div>
        </div>
        <div class="top-buffer col-xs-12 col-md-12">
            <h4>
                <strong>
                    Nothing is more important to us than our customers’ success.<br>
                    We ensure measurable results by utilizing modern technology and marketing<br>
                    tactics to create compelling and powerful business solutions.
                </strong>
            </h4>
        </div>

    </div>
</div>
<!-- /CHOOSE US -->
